/* Fonts */

/*____Garamond 08*/


@font-face {
  font-family: 'EBGaramond08';
  font-variant: small-caps;
    font-weight: 600;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramondSC08-Regular.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramondSC08-Regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'EBGaramond08';
  font-style: normal;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond08-Regular.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond08-Regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



@font-face {
  font-family: 'EBGaramond08';
  font-weight: bold;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond12-Bold.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond12-Bold.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




@font-face {
  font-family: 'EBGaramond08';
  font-style: italic;
    font-weight: 200;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond08-Italic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond08-Italic.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'EBGaramond08';
  font-style: italic;
    font-weight: 600;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond08-Italic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond08-Italic.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*_______Garamond 12*/

@font-face {
  font-family: 'EBGaramond12';
  font-style: italic;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond12-Italic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond12-Italic.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'EBGaramond12';
  font-variant: small-caps;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramondSC12-Regular.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramondSC12-Regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'EBGaramond12';
  font-style: normal;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond12-Regular.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond12-Regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
  font-family: 'EBGaramond12';
  font-weight: bold;
  src: local(''),
       url("../fonts/ebgaramond/EBGaramond12-Bold.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ebgaramond/EBGaramond12-Bold.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/*===========Sans Serifs*/
/*____________Gill Sans*/

@font-face {
  font-family: 'GS';
  src: local(''),
       url("../fonts/GillSans/GillSansC.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansC.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS-I';
  src: local(''),
       url("../fonts/GillSans/GillSansC-Italic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansC-Italic.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS-B';
  src: local(''),
       url("../fonts/GillSans/GillSansC-Bold.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansC-Bold.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS-BI';
  src: local(''),
       url("../fonts/GillSans/GillSansC-BoldItalic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansC-BoldItalic.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS_C';
  src: local(''),
       url("../fonts/GillSans/GillSansCondC.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansCondC.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS_C-B';
  src: local(''),
       url("../fonts/GillSans/GillSansCondC-Bold.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansCondC-Bold.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS_L';
  src: local(''),
       url("../fonts/GillSans/GillSansLightC.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansLightC.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GS_L-I';
  src: local(''),
       url("../fonts/GillSans/GillSansLightC-Italic.woff") format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/GillSans/GillSansLightC-Italic.woff2") format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

